layout {
    pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/latest/download/zjstatus.wasm" {

            // -- Oxocarbon Dark --
            color_base00 "#161616" // Background - very dark gray
            color_base01 "#262626" // Lighter background
            color_base02 "#393939" // Selection background
            color_base03 "#525252" // Comments or secondary text
            color_base04 "#dde1e6" // Dark foreground
            color_base05 "#f2f4f8" // Default foreground, text
            color_base06 "#ffffff" // Lighter foreground
            color_base07 "#08bdba" // Primary accent - teal
            color_base08 "#3ddbd9" // Secondary accent - light teal
            color_base09 "#78a9ff" // Tertiary accent - blue
            color_base0A "#ee5396" // Highlight or error - pink
            color_base0B "#33b1ff" // Link or success - vivid blue
            color_base0C "#ff7eb6" // Warning or notice - soft pink
            color_base0D "#42be65" // Success/ok - green
            color_base0E "#be95ff" // Magenta or purple accent
            color_base0F "#82cfff" // Light blue for hints
           
            black: "#262626"
            magenta: "#ff7eb6"
            green: "#42be65"
            yellow: "#ffe97b"
            blue: "#33b1ff"
            red: "#ee5396"
            cyan: "#3ddbd9"
            white: "#dde1e6"

            format_left "#[bg=$magenta,fg=$color_base00,bold]  #[bg=$color_base01,fg=$color_base04] {session} #[bg=$color_base01,fg=$color_base05] {mode} #[bg=$color_base01]{tabs}"
            format_center "#[bg=$color_base02,fg=$color_base05] {notifications}"
            format_right "#[bg=$color_base01,fg=$color_base08]  #[bg=$color_base07,fg=$color_base00] 󰃰 #[bg=$color_base01,fg=$color_base03] {datetime}"

            border_enabled "true"
            border_char "━"
            border_format "#[fg=$color_base03,bg=$color_base01]{char}"
            border_position "top"

            hide_frame_for_single_pane "true"

            mode_normal "#[bg=$color_base0D,fg=$color_base00,bold] 󰀘 N #[bg=$color_base01,fg=$color_base0D]"
            mode_tmux "#[bg=$color_base0E,fg=$color_base00,bold] 󱂬 T #[bg=$color_base01,fg=$color_base0E]"
            mode_locked "#[bg=$color_base0A,fg=$color_base00,bold] 󰌾 L #[bg=$color_base01,fg=$color_base0A]"
            mode_scroll "#[bg=$color_base09,fg=$color_base00,bold] 󰔄 S #[bg=$color_base01,fg=$color_base09]"
            mode_resize "#[bg=$color_base0B,fg=$color_base00,bold] 󰒓 Rz #[bg=$color_base01,fg=$color_base0B]"

            tab_normal "#[bg=$color_base01,fg=$color_base07] #[bg=$color_base07,fg=$color_base00,bold] {index} #[bg=$color_base02,fg=$color_base07]"
            tab_active "#[bg=$color_base01,fg=$color_base0B] #[bg=$color_base0B,fg=$color_base00,bold] {index} #[bg=$color_base02,fg=$color_base0B]"

            notification_format_unread "#[bg=$color_base01,fg=$color_base09]  #[bg=$color_base02,fg=$color_base05] {message}"
            notification_format_no_notifications "#[bg=$color_base01,fg=$color_base03] No notifications"
            notification_show_interval "10"

            datetime "{format}"
            datetime_format "%a, %b %d, %H:%M"
            datetime_timezone "Pacific/Auckland"
        }
    }
    pane
}

